body {
    padding: 0px;
    font: 30px "Lucida Grande", Helvetica, Arial, sans-serif;
    display: block;
    position: relative;
    background-color: rgb(139, 0, 0);
    color: silver;
    margin: 0px;
}
header {
    background-color: rgb(105, 0, 0);
    width:100%;
    display: inline-block;
    color: silver;
    font-size: 30px;
    padding-bottom: 28px;
    }
    a {
    font-size: 20px;
    text-decoration: none;
    color: rgb(170, 170, 170);
    }
    p{
        display: inline;
    }
    .menu {
        display: inline;
    }
    #nav-button {
        display: inline-block;
        padding:10px;
        position: relative;
        width: 45px;
        top: 15px;
        margin-left: 5px;
    }

    ls{
        font-size:20px;
    }
    ol , ul{
        padding: 0px;
        margin-top: 0px;
    }
    #table-header , .table-content {
        grid-template-columns: 50% 20% 10% 20% ;
        display: grid;
        width: 100%;
    }
    #title{
        text-align: center;
        margin: 0px;
        top: 35px;
        position: absolute;
        margin-left: 2%;
    }
    
    #login{
        text-align: right;
        float: right;
        top: 35px;
        right: 5%;
        font-size: 30px;
        position: absolute;
    }
    
    .navbar{
        display:none;
    }
    