body {
    padding: 5px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    display: block;
  }

p{
    display: inline;
}
.menu {
    display: inline;
}

.navbar {
    display: inline;
    background-color: darkred;
    color: silver;
}