body {
    padding: 0px;
    font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
    display: block;
    position: relative;
    background-color: rgb(139, 0, 0);
    color: silver;
    margin: 0px;
}
header {
      background-color: rgb(105, 0, 0);
      width:100%;
      display: inline-block;
      color: silver;
      font-size: 30px;
      padding-bottom: 28px;
    }
    a {
        font-size: 16px;
    }
    p{
        display: inline;
    }
    .menu {
        display: inline;
    }
    #nav-button {
        display: inline-block;
        padding:10px;
        position: relative;
        width: 45px;
        top: 15px;
        margin-left: 5px;
    }
    ol , ul{
        padding-left: 0px;
    }
    #table-header , .table-content {
        grid-template-columns: 30% 25% 20% 25% ;
        display: grid;
        width: 100%;
    }
    #title{
        text-align: center;
        margin: 0px;
        top: 25%;
        position: absolute;
        margin-left: 2%;
    }
    
    #login{
        text-align: right;
        float: right;
        top: 25%;
        right: 5%;
        font-size: 30px;
        position: absolute;
    }
    
    .navbar{
        display:none;
    }