<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Create a Character</h1>
    <form action='/submit' method="POST">
        <input name='name' type='text' maxlength="30" placeholder='Name'>
        <select name='level' aria-placeholder="Lv">
            <option value='1' selected='selected'>1</option>
            <% for(let i = 2; i < 21;i++){%>
            <option value="<%= `${i}`%>"><%= i %> </option>
            <% }%>
        </select>
        <select name='class'>
            <optgroup label="Artificer" name='class'>
                <option value='Artificer/Alchemist'>Alchemist</option>
                <option value="Arificer/Gunsmith">Gunsmith</option>
                <option value="Arificer/Battlesmith]">Battlesmith</option>
            </optgroup>
            <optgroup label="Barbarian" name='class'>
                <option value="Barbarian/Berserker">Berserker</option>
                <option value="Barbarian/Totem Warrior">Totem Warrior</option>
                <option value="Barbarian/Battlerager">Battlerager</option>
                <option value="Barbarian/Ancestral Guardian">Ancestral Guardian</option>
                <option value="Barbarian/Storm Herald">Storm Herald</option>
                <option value="Barbarian/Zeolot">Zeolot</option>
            </optgroup>
            <optgroup label="Bard" name='class'>
                <option value="Bard/Lore">Lore</option>
                <option value="Bard/Valor">Valor</option>
                <option value="Bard/Glamour">Glamour</option>
                <option value="Bard/Swords">Swords</option>
                <option value="Bard/Whispers">Whispers</option>
            </optgroup>
            <optgroup label="Cleric" name='class'>
                <option value="Cleric/Knowledge">Knowledge</option>
                <option value="Cleric/Life">Life</option>
                <option value="Cleric/Light">Light</option>
                <option value="Cleric/Nature">Nature</option>
                <option value="Cleric/Tempest">Tempest</option>
                <option value="Cleric/Trickery">Trickery</option>
                <option value="Cleric/War">War</option>
                <option value="Cleric/Arcana">Arcana</option>
                <option value="Cleric/Forge">Forge</option>
                <option value="Cleric/Grave">Grave</option>
                <option value="Cleric/Order">Order</option>
            </optgroup>
            <optgroup label="Druid" name='class'>
                <option value="Druid/Land">Land</option>
                <option value="Druid/Moon">Moon</option>
                <option value="Druid/Dreams">Dreams</option>
                <option value="Druid/Shepard">Shepard</option>
                <option value="Druid/Spores">Spores</option>
            </optgroup>
            <optgroup label="Fighter" name='class'>
                <option value="Fighter/Champion">Champion</option>
                <option value="Fighter/Battle Master">Battle Master</option>
                <option value="Fighter/Eldritch Knight">Eldritch Knight</option>
                <option value="Fighter/Purple Dragon Knight">Purple Dragon Knight</option>
                <option value="Fighter/Arcane Archer">Arcane Archer</option>
                <option value="Fighter/Cavalier">Cavalier</option>
                <option value="Fighter/Samurai">Samurai</option>
            </optgroup>
            <optgroup label="Monk" name='class'>
                <option value="Monk/Open Hand">Open Hand</option>
                <option value="Monk/Shadow">Shadow</option>
                <option value="Monk/Four Elements">Four Elements</option>
                <option value="Monk/Long Death">Long Death</option>
                <option value="Monk/Drunken Master">Drunken Master</option>
                <option value="Monk/Kensai">Kensai</option>
                <option value="Monk/Sun Soul">Sun Soul</option>
            </optgroup>
            <optgroup label="Paladin" name='class'>
                <option value="Paladin/Devotion">Devotion</option>
                <option value="Paladin/Ancients">Ancients</option>
                <option value="Paladin/Vengeance">Vengeance</option>
                <option value="Paladin/Crown">Crown</option>
                <option value="Paladin/Conquest">Conquest</option>
                <option value="Paladin/Redemption">Redemption</option>
            </optgroup>
            <optgroup label="Ranger" name='class'>
                <option value="Ranger/Hunter">Hunter</option>
                <option value="Ranger/Beast Master">Beast Master</option>
                <option value="Ranger/Gloom Stalker">Gloom Stalker</option>
                <option value="Ranger/Horizon Walker">Horizon Walker</option>
                <option value="Ranger/Monster Slayer">Monster Slayer</option>
            </optgroup>
            <optgroup label="Rogue" name='class'>
                <option value="Rogue/Theif">Thief</option>
                <option value="Rogue/Assassin">Assassin</option>
                <option value="Rogue/Arcane Trickster">Arcane Trickster</option>
                <option value="Rogue/Swashbuckler">Swashbuckler</option>
                <option value="Rogue/Inquisitive">Inquisitive</option>
                <option value="Rogue/Mastermind">Mastermind</option>
                <option value="Rogue/Scout">Scout</option>
            </optgroup>
            <optgroup label="Sorceror" name='class'>
                <option value="Sorceror/Draconic">Draconic</option>
                <option value="Sorceror/Wild">Wild</option>
                <option value="Sorceror/Divine">Divine</option>
                <option value="Sorceror/Shadow">Shadow</option>
                <option value="Sorceror/Storm">Storm</option>
            </optgroup>
            <optgroup label="Warlock" name='class'>
                <option value="Warlock/Archfey">Archfey</option>
                <option value="Warlock/Fiend">Fiend</option>
                <option value="Warlock/Great Old One">Great Old One</option>
                <option value="Warlock/Undying">Undying</option>
                <option value="Warlock/Celestial">Celestial</option>
                <option value="Warlock/Hexblade">Hexblade</option>
            </optgroup>
            <optgroup label="Wizard" name='class'>
                <option value="Wizard/Abjuration">Abjuration</option>
                <option value="Wizard/Conjuration">Conjuration</option>
                <option value="Wizard/Divination">Divination</option>
                <option value="Wizard/Enchantment">Enchantment</option>
                <option value="Wizard/Evocation">Evocation</option>
                <option value="Wizard/Illusion">Illusion</option>
                <option value="Wizard/Necromancy">Necromancy</option>
                <option value="Wizard/Transmutation">Transmutation</option>
                <option value="Wizard/Bladesinging">Bladesinging</option>
                <option value="Wizard/War Magic">War Magic</option>
            </optgroup>
        </select>
        <input type='text' name="race" maxlength="20" placeholder="Race">
        <input type='text' name="personality" placeholder="Personality">
        <input type='text' name='flaws' placeholder="Flaws">
        <select name='Feature'>
            <option value='Acolyte'>Acolyte</option>
            <option value='Charlatan'>Charlatan</option>
            <option value='Criminal'>Criminal</option>
            <option value='Spy'>Spy</option>
            <option value='Entertainer'>Entertainer</option>
            <option value='Gladiator'>Gladiator</option>
            <option value='Folk Hero'>Folk Hero</option>
            <option value='Guild Artisan'>Guild Artisan</option>
            <option value='Hermit'>Hermit</option>
            <option value='Noble'>Noble</option>
            <option value='Knight'>Knight</option>
            <option value='Outlander'>Outlander</option>
            <option value='Sage'>Sage</option>
            <option value='Sailor'>Sailor</option>
            <option value='Pirate'>Pirate</option>
            <option value='Soldier'>Soldier</option>
            <option value='Urchin'>Urchin</option>
            <option value='City Watch'>City Watch</option>
            <option value='Investigator'>Investigator</option>
            <option value='Clan Crafter'>Clan Crafter</option>
            <option value='Sage'>Cloystered Scholar</option>
            <option value='Courtier'>Courtier</option>
            <option value='Faction Agent'>Faction Agent</option>
            <option value='Far Traveler'>Far Traveler</option>
            <option value='Inheritor'>Inheritor</option>
            <option value='Knight of the Order'>Knight of the Order</option>
            <option value='Mercenary Veteran'>Mercenary Veteran</option>
            <option value='Urban Bounty Hunter'>Urban Bounty Hunter</option>
            <option value='Uthgardt Tribe Member'>Uthgardt Tribe Member</option>
            <option value='Waterdhavian Noble'>Waterdhavian Noble</option>
            <option value='Azorius Functionary'>Azorius Functionary</option>
            <option value='Boros Legionnaire'>Boros Legionnaire</option>
            <option value='Dimir Operative'>Dimir Operative</option>
            <option value='Golgari Agent'>Golgari Agent</option>
            <option value='Gruul Anarch'>Gruul Anarch</option>
            <option value='Izzet Engineer'>Izzet Engineer</option>
            <option value='Orzhov Representative'>Orzhov Representative</option>
            <option value='Rakdos Cultist'>Rakdos Cultist</option>
            <option value='Selesnya Initiate'>Selesnya Initiate</option>
            <option value='Simic Scientist'>Simic Scientist</option>
            <option value="Celebrity Adventurer's Scion">Celebrity Adventurer's Scion</option>
            <option value='Failed Merchant'>Failed Merchant</option>
            <option value='Gambler'>Gambler</option>
            <option value='Plaintiff'>Plaintiff</option>
            <option value='Rival Intern'>Rival Intern</option>
            <option value='Haunted One'>Haunted One</option>
            <option value='Anthropologist'>Anthropologist</option>
            <option value='Archaeologist'>Archaeologist</option>
            <option value='House Agent'>House Agent</option>
        </select>
        <input type='text' name='appearence' placeholder="Appearence">
        <input type='text' name='backstory' placeholder="Backstory">
        <input type="submit" value='Create'>
    </form>
</body>
</html>


