<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/teststyle.css' />
  </head>
  <body>
  <header>
    
    <div class='navbar'>
      <div class='menu'>
        <p>Menu</p>
        <img id="navmenu">
      </div>
      <p>Player Characters</p>
    </div>
  </header>
        <ol>
        <ul>
          <ls>Name</ls>
          <ls>Class</ls>
          <ls>Level</ls>
          <ls>Race</ls>
        </ul>
        <a href='/char/<%= char._id %>'>
        <ul>
          <ls>char.name</ls>
          <ls>char.class</ls>
          <ls>20</ls>
          <ls>char.race</ls>
        </ul>
        </a>
      </ol>
  <a href='/char/new'>Add a Character</a>
  <a href='/dm'>Show Dungeon Masters</a>
  <a href='/dmedit'>Edit Values</a>
  <a href='/dm/new'>Add Dungeon Master</a>
  </body>
</html>
