<!DOCTYPE html>
<html>
  <head>
    <title>Characters</title>
    <link rel='stylesheet' href='../../public/stylesheets/teststyle.css'>
  </head>
  <body>
  <header>
    <img id='nav-button' src="../../public/images/shippp.png" >
    <p id='title'>Player Characters</p>
    <a href="/auth/google" id="login">Login</a>
  </header>
    <div class='navbar'>
        <a href='/char/new'>Add a Character</a> 
        <a href='/dm'>Show Dungeon Masters</a>  
        <a href='/dmedit'>Edit Values</a>       
        <a href='/dm/new'>Add Dungeon Master</a>
    </div>
  <ol>
        <ul id="table-header">
          <ls>Name</ls>
          <ls>Class</ls>
          <ls>Level</ls>
          <ls>Race</ls>
        </ul>
        <a href='/char/<%= char._id %>'>
        <ul class='table-content'>
          <ls>char.name</ls>
          <ls>char.class</ls>
          <ls>20</ls>
          <ls>char.race</ls>
        </ul>
        </a>
      </ol>



      <script src="./Java/Main.js"></script>
  </body>
</html>
