<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/dmsubmit" method="POST">
        <input name='name' type="text" placeholder="Name">
        <input name='valueone' type="text" placeholder="Value">
        <input name='valuetwo' type="text" placeholder="Value">
        <input name='valuethree' type="text" placeholder="Value">
        <input type="submit" value="Create">
    </form>
</body>
</html>